<% action_url = post.persisted? ? post_url(post) : posts_url %>
<% method_action = post.persisted? ? :patch : :post %>
<% submit_action = post.persisted? ? "Edit post!" : "Create post!" %>


<form action="<%= action_url %>" method="post">
  <input type="hidden" name="_method" value="<%= method_action %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  <label for="title">Title</label>
  <input type="text" id="title" value="<%= post.title %>" name="post[title]"><br>

  <label for="content">Content</label>
  <textarea id="title" value="<%= post.content %>" name="post[content]"></textarea><br>

  <label for="url">URL</label>
  <input type="text" id="url" value="<%= post.url %>" name="post[url]"><br>

  <label> Select Subs<br>
    <% subs.each do |sub|  %>
      <label> <%= sub.title %>
      <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>" <%= "checked" if post.subs.include?(sub) %>>
      </label>
    <% end %>
  </label><br>

  <input type="submit" value="<%= submit_action %>">

</form>
